@use '../../styles/partials/global' as *;

.page-wrapper {
    padding: 1rem;
    border-radius: 1rem;
    color: $color-filling-black;
    background-color: $color-pearly-white;
}

.button {

    &-wrapper {
        display: flex;
        flex-direction: column;
    }
}