$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$weight-normal: 400;
$weight-demi: 600;
$weight-bold: 700;

$color-filling-black: #000000;
$color-pearly-white: #FFFFFF;
$color-brush-blue: #003a40;
$color-crest-blue: #2f9faa;
$color-listerine-mint: #20aa99;
$color-floss-mint: #7dd4d6;