@use '../../styles/partials/global' as *;

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 1rem;
    color: black;
    background-color: white;
    text-align: center;

    @include tablet {
        display: none;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}